.tags-main {
  width: 50%;
  overflow: auto;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}
.tag-button {
  margin: 2px 2px 2px 2px !important;
  border-radius: 20% !important;
}
@media (max-width: 1024px) {
  .tags-main {
    width: 100%;
  }
}
