.main{
    height:100%;
    
}

.mainWrapper{
    height:100%;
 
}
.mainContentWrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subMainContentWrapper >.btn{
    margin-top:15px;

}


