.container-row{
    display:flex;
    flex-direction:row;
}
.nav-pane{
    display:flex;
    flex-direction: column;
    padding-left:1rem;
    padding-right:1rem;
    background-color: ghostwhite;
    border:1px solid lightgrey;
    height:100%;
    
}
.nav-pane button{
    margin-top:15px;
}
.tab-pane{
    width:100%;
}
.tags-wrapper{
    
}